@charset "UTF-8";
/* color
------------------------------------------------------------*/
/* font
------------------------------------------------------------*/
@import "https://fonts.googleapis.com/css?family=Muli";
@import "https://fonts.googleapis.com/css?family=Lato";
/* width
------------------------------------------------------------*/
/* transitions（CSSトランジション）
使用例：@include transition(background-color 1s .5s, color 2s);
------------------------------------------------------------*/
/* box-sizing（ボックスサイズ）
使用例：@include box-sizing(border-box);
------------------------------------------------------------*/
/* opacity（不透明度）
使用例：@include opacity(0.5);
------------------------------------------------------------*/
/* column-width（カラム幅）
使用例：@include column-width(150px);
------------------------------------------------------------*/
/* font-size（フォントサイズ）
使用例：@include font-size(14px);
------------------------------------------------------------*/
/* box-shadow（ボックスシャドウ）
使用例：@include box-shadow(8px, 8px);
------------------------------------------------------------*/
/* xPos（要素の座標）
使用例：@include xPos(50px);
------------------------------------------------------------*/
/* vertical-align（縦中央に配置）
使用例：@include vertical-align();
------------------------------------------------------------*/
/* flexbox（フレックスボックス）
使用例：@include flexbox();
------------------------------------------------------------*/
/* flex-order（表示の順番）
使用例：@include flex-order(3);
------------------------------------------------------------*/
/* flex-direction（表示の方向）
使用例：@include flex-direction(column);
------------------------------------------------------------*/
/* gradient（グラデーション）
使用例：@include gradient(#ff00ff, #ff00cc, vertical);
------------------------------------------------------------*/
/* ghost-button（ゴーストボタン）
使用例：@include ghost-button(“Trebuchet”, 12px, #ffffff, 5px, #34dec6, 4px, 300ms, #000000 );
------------------------------------------------------------*/
/* break-point（ブレイクポイント）
使用例：
div {
	margin:5em;
	@include break-point(mobile){
		margin:2em;
	}
}
------------------------------------------------------------*/
/* percent grid layout(パーセントベースグリッドレイアウト)
使用例：
<ul class="blocks-3">
	<li>33%</li>
	<li>33%</li>
	<li>33%</li>
	<li>33%</li>
	<li>33%</li>
	<li>33%</li>
</ul>
------------------------------------------------------------*/
.row .col-12 {
  width: 100%; }

.row .col-11 {
  width: 91.41667%; }

.row .col-10 {
  width: 82.83333%; }

.row .col-9 {
  width: 74.25%; }

.row .col-8 {
  width: 65.66667%; }

.row .col-7 {
  width: 57.08333%; }

.row .col-6 {
  width: 48.5%; }

.row .col-5 {
  width: 39.91667%; }

.row .col-4 {
  width: 31.33333%; }

.row .col-3 {
  width: 22.75%; }

.row .col-2 {
  width: 14.16667%; }

.row .col-1 {
  width: 5.58333%; }

.row [class*='col-'] {
  margin-left: 3%;
  float: left; }

.row [class*='col-']:first-child {
  margin-left: 0; }

.row:after {
  content: "";
  display: table;
  clear: both; }

/*
	Burger Menu（ハンバーガーメニュー）
	使用例：
	.burger-icon {
		@include burger(25px, 3px, 5px, #222);
	}
	.circle.is-active .burger-icon {
		@include burger-to-cross;
	}
------------------------------------------------------------*/
/* reset
------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* base
------------------------------------------------------------*/
html {
  min-width: 1024px;
  max-width: 100%;
  font-size: 62.5%;
  font-size: 10px\0; }

html, body {
  min-width: 1024px;
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
  color: #666464;
  letter-spacing: 1px;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif; }

img {
  max-width: 100%;
  height: auto; }

p {
  line-height: 2;
  font-size: 1.5rem; }

#wrap {
  width: 100%;
  min-width: 1024px;
  margin: auto;
  opacity: 0; }

.inner {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  max-width: 850px;
  box-sizing: border-box;
  *zoom: 1; }
  .inner:after {
    content: "";
    display: table;
    clear: both; }

.scrEvent {
  opacity: 0;
  opacity: 1\9; }
  .scrEvent.eventOn {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    visibility: visible !important; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
#loaderBg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #fff;
  z-index: 9999; }
  #loaderBg #loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -50px;
    margin-left: -100px;
    text-align: center;
    color: #666464;
    z-index: 9999; }

/* header
------------------------------------------------------------*/
#header {
  padding: 20px 5%;
  box-sizing: border-box; }
  #header .inner {
    position: relative;
    *zoom: 1; }
    #header .inner:after {
      content: "";
      display: table;
      clear: both; }
    #header .inner h1 {
      float: left;
      width: 212px;
      margin: 0;
      padding: 0; }
    #header .inner ul {
      display: table;
      float: right;
      margin: 8px 0 0 0;
      *zoom: 1; }
      #header .inner ul:after {
        content: "";
        display: table;
        clear: both; }
      #header .inner ul li {
        border-left: 1px solid #ccc;
        display: table-cell; }
        #header .inner ul li a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 0 10px;
          text-decoration: none;
          font-size: 1.2rem;
          color: #666464; }
          #header .inner ul li a .ico {
            display: inline-block;
            vertical-align: middle;
            width: 30px; }
          #header .inner ul li a .txt {
            display: inline-block;
            vertical-align: middle; }
        #header .inner ul li:nth-of-type(2) a .ico + span {
          display: inline-block;
          vertical-align: middle;
          width: 98px; }

/* gnav
------------------------------------------------------------*/
#gnav {
  padding: 20px 0; }
  #gnav ul {
    width: 100%;
    display: table; }
    #gnav ul li {
      display: table-cell;
      width: 25%;
      float: left;
      vertical-align: middle;
      box-sizing: border-box;
      border-right: 1px solid #828181; }
      #gnav ul li:first-child {
        border-left: 1px solid #828181; }
      #gnav ul li a {
        text-decoration: none;
        font-family: "Lato", sans-serif;
        color: #666464;
        font-size: 2rem;
        line-height: 2em;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        -moz-transition: color 0.4s;
        -o-transition: color 0.4s;
        -webkit-transition: color 0.4s;
        transition: color 0.4s; }
      #gnav ul li:nth-of-type(1) a:hover {
        color: #2EA7E0; }
      #gnav ul li:nth-of-type(2) a:hover {
        color: #8FC31F; }
      #gnav ul li:nth-of-type(3) a:hover {
        color: #fac800; }
      #gnav ul li:nth-of-type(4) a:hover {
        color: #ea5532; }

/* footer
------------------------------------------------------------*/
#footerNav {
  padding: 60px 0 30px 0;
  border-bottom: 1px solid #00b9e2; }
  #footerNav ul {
    margin: 10px 0 0 0; }
    #footerNav ul:first-child {
      margin-top: 0; }
    #footerNav ul li {
      display: inline-block;
      margin-right: 2em;
      list-style-type: disc;
      list-style-position: inside; }
      #footerNav ul li a {
        font-size: 1.5rem;
        text-decoration: none;
        color: #666464;
        -moz-transition: color 0.4s;
        -o-transition: color 0.4s;
        -webkit-transition: color 0.4s;
        transition: color 0.4s; }
      #footerNav ul li:nth-of-type(1) a:hover {
        color: #2EA7E0; }
      #footerNav ul li:nth-of-type(2) a:hover {
        color: #8FC31F; }
      #footerNav ul li:nth-of-type(3) a:hover {
        color: #fac800; }
      #footerNav ul li:nth-of-type(4) a:hover {
        color: #ea5532; }

#footer {
  background: url(../images/common/f_illust.png) repeat-x left 70% bottom 40px;
  background-size: 1075px auto; }
  #footer .inner {
    display: table;
    width: 100%;
    padding: 30px 0 60px 0; }
    #footer .inner h1 {
      display: table-cell;
      vertical-align: middle; }
    #footer .inner address {
      font-size: 1.4rem;
      display: table-cell;
      vertical-align: middle; }
    #footer .inner ul {
      display: table-cell;
      vertical-align: middle; }
      #footer .inner ul li {
        display: inline-block;
        margin-right: 3%; }
        #footer .inner ul li a {
          font-size: 1.6rem;
          color: #666464; }
  #footer small {
    display: block;
    width: 100%;
    padding: 1em 0;
    text-align: center;
    font-size: 1.4rem;
    background: #00b9e2;
    color: #fff; }

#pageTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 77%; }

#pageTop a {
  text-decoration: none;
  width: 44px;
  height: 44px;
  background: url(../images/common/f_ico_gotop.png) no-repeat center center;
  background-size: 44px;
  text-align: center;
  display: block; }

#pageTop a:hover {
  text-decoration: none; }

/* ABOUT US
------------------------------------------------------------*/
#read h1 {
  background: url(../images/works/main_title_bg.png) repeat;
  font-size: 3.5rem;
  padding: 0.4em 0;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  color: #666464;
  font-family: "Lato", sans-serif; }
  #read h1 b {
    color: #fac800; }
#read p {
  margin: 50px 0 0 0;
  text-align: center; }

.section {
  margin: 100px 0; }
  .section h1 {
    color: #fac800;
    font-size: 2.8rem;
    text-align: center;
    margin: 0 0 40px; }
    .section h1 span {
      display: block;
      color: #666464;
      font-size: 1.8rem;
      margin: .5em 0 0; }
    .section h1 + p span {
      display: inline-block;
      vertical-align: middle; }

.itemList .row {
  -js-display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .itemList .row .col {
    opacity: 0;
    position: relative;
    border: 2px solid #fac800;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    vertical-align: middle; }
    .itemList .row .col.eventOn {
      opacity: 1; }
    .itemList .row .col div {
      display: table;
      width: 100%;
      height: 100%; }
      .itemList .row .col div figure {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        height: auto; }

.row .col-12 {
  width: 100%; }

.row .col-11 {
  width: 91.58333%; }

.row .col-10 {
  width: 83.16667%; }

.row .col-9 {
  width: 74.75%; }

.row .col-8 {
  width: 66.33333%; }

.row .col-7 {
  width: 57.91667%; }

.row .col-6 {
  width: 49.5%; }

.row .col-5 {
  width: 41.08333%; }

.row .col-4 {
  width: 32.66667%; }

.row .col-3 {
  width: 24.25%; }

.row .col-2 {
  width: 15.83333%; }

.row .col-1 {
  width: 7.41667%; }

.row [class*='col-'] {
  margin-left: 1%;
  float: left; }

.row [class*='col-']:first-child {
  margin-left: 0; }

.row:after {
  content: "";
  display: table;
  clear: both; }
