@import "common.scss"; //共通部分

/* ABOUT US
------------------------------------------------------------*/
#mainVisual{
	h1{
		background: url(../images/about/main_title_bg.png) repeat;
		font-size: 3.5rem;
		padding: 0.4em 0;
		font-weight: bold;
		text-align: center;
		line-height: 1;
		color: $color01;
		font-family: $font02;
		b{
			color: $blue;
		}
	}
	.imageBox{
		position: relative;
		h2{
			width: 850px;
			line-height: 50px;
			margin: auto;
			color: #2EA7E0;
			font-size: 2.8rem;
			text-align: center;
			position: absolute;
			top: 40px;
			left: 50%;
			margin-left: -425px;
			background: url(../images/about/message-bg.png) no-repeat;
			background-size: 850px 50px;
		}
		p{
			position: absolute;
			bottom: 5%;
			left: 50%;
		}
	}
}
.section{
	margin: 100px 0;
	h1{
		color: #2EA7E0;
		font-size: 2.8rem;
		text-align: center;
		margin: 0 0 40px;
		span{
			display: block;
			color: $color01;
			font-size: 1.8rem;
			margin: .5em 0 0;
		}
		& + p{
			span{
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}
#about{
	ul{
		height: 182px;
		padding: 0 14px;
		margin: 30px 0;
		box-sizing: border-box;
		@include flexbox();
		background: url(../images/about/about_item_bg.png) no-repeat;
		background-size: 850px auto;
		li{
			width: 20%;
			height: 100%;
			display: table;
			vertical-align: middle;
			box-sizing: border-box;
			span{
				display: table-cell;
				width: 100%;
				height: 100%;
				vertical-align: middle;
				text-align: center;
				font-size: 1.5rem;
				line-height: 1.4;
				overflow: hidden;
			}
		}
	}
	p{
		text-align: center;
		span:nth-of-type(2){
			position: relative;
			top: 5px;
		}
	}
}
#company{
	dl{
		display: table;
		width: 100%;
		margin: 14px 0 0 0;
		border-bottom: 1px solid #ccc;
		line-height: 1.4;
		dt,dd{
			font-size: 1.6rem;
			padding: .5em 1em;
			display: table-cell;
		}
		dt{
			width: 200px;
			border-left: 2px solid #43b0e3;
		}
		dd{
			width: 650px;
		}
	}
}
#client{
	ul{
		width: 400px;
		&:nth-of-type(odd){
			float: left;
		}
		&:nth-of-type(even){
			float: right;
		}
		li{
			font-size: 1.6rem;
			line-height: 1.4;
			margin: .4em 0;
			b{
				display: block;
				background: #2EA7E0;
				color: #fff;
				padding: .2em 0 .2em .5em;
			}
		}
	}
}