@import "common.scss"; //共通部分

/* ABOUT US
------------------------------------------------------------*/
#read{
	h1{
		background: url(../images/recruit/main_title_bg.png) repeat;
		font-size: 3.5rem;
		padding: 0.4em 0;
		font-weight: bold;
		text-align: center;
		line-height: 1;
		color: $color01;
		font-family: $font02;
		b{
			color: $red;
		}
	}
	p{
		margin: 50px 0 0 0;
		text-align: center;
	}
}
.section{
	margin: 100px 0;
	h1{
		color: $red;
		font-size: 2.8rem;
		text-align: center;
		margin: 0 0 40px;
		span{
			display: block;
			color: $color01;
			font-size: 1.8rem;
			margin: .5em 0 0;
		}
		& + p{
			span{
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
	
	.reqBox{
		margin: 50px 0;
		h2{
			font-size: 2.8rem;
			text-align: center;
			font-weight: bold;
			padding: .5em 1em;
			margin: 0 0 20px;
			background: #fdeeeb;
		}
	}
}
#detail{
	dl{
		display: table;
		width: 100%;
		margin: 14px 0 0 0;
		border-bottom: 1px solid #ccc;
		line-height: 1.4;
		dt,dd{
			font-size: 1.8rem;
			padding: .5em 1em;
			display: table-cell;
		}
		dt{
			width: 200px;
			border-left: 2px solid $red;
		}
		dd{
			width: 650px;
		}
	}
}