@import "common.scss"; //共通部分


/* heading01
------------------------------------------------------------*/
@mixin heading01(){
	border: none;
	display: block;
	color: $green;
	font-size: 2.8rem;
	text-align: center;
	margin: 0 0 20px;
	span{
		display: block;
		color: $color01;
		font-size: 1.8rem;
		margin: .5em 0 0;
	}
	& + p{
		span{
			display: inline-block;
			vertical-align: middle;
		}
	}
}
@mixin heading02(){
	display: table;
	border-bottom: 2px dotted $green;
	margin: 0 auto 40px;
	i{
		display: table-cell;
		vertical-align: middle;
		padding: 20px 30px 20px 40px;
		line-height: 0;
	}
	span{
		display: table-cell;
		vertical-align: middle;
		font-size: 1.6rem;
		padding: 20px 40px 20px 0;
		em{
			font-size: 2.8rem;
			font-family: $font02;
			display: block;
			font-weight: lighter;
			margin: 0.2em 0 0 0;
			letter-spacing: 2px;
		}
	}
}




/* SERVICES
------------------------------------------------------------*/
#mainVisual{
	h1{
		background: url(../images/services/main_title_bg.png) repeat;
		font-size: 3.5rem;
		padding: 0.4em 0;
		font-weight: bold;
		text-align: center;
		line-height: 1;
		color: $color01;
		font-family: $font02;
		b{
			color: $green;
		}
	}
	.imageBox{
		position: relative;
		h2{
			width: 850px;
			line-height: 50px;
			margin: auto;
			color: #2EA7E0;
			font-size: 2.8rem;
			text-align: center;
			position: absolute;
			top: 40px;
			left: 50%;
			margin-left: -425px;
			background: url(../images/about/message-bg.png) no-repeat;
			background-size: 850px 50px;
		}
		p{
			position: absolute;
			bottom: 5%;
			left: 50%;
		}
		img{
			width: 100%;
			height: auto;
		}
	}
}
.section{
	margin: 100px 0 0 0;
	h1{
		@include heading01();
	}
}

.section02{
	padding: 100px 0 30px;
	background: url(../images/services/section_border.png) repeat-x center top;
	background-size: 1200px auto;
	h1{
		@include heading02();
	}
	.readBox{
		h2{
			@include heading01();
		}
		p{
			text-align: center;
			margin: 20px 0 0 0;
			&:first-child{
				margin: 0;
			}
		}
	}
	.stepBox{
		margin: 50px 0;
		h3{
			font-size: 2.8rem;
			text-align: center;
			font-weight: bold;
			padding: .5em 1em;
			margin: 0 0 20px;
			background: #f4f9e9;
		}
		figure{
			margin: 40px 0 0 0;
		}
		&::after{
			width: 54px;
			height: 33px;
			background: url(../images/services/step_ico_arrow.png) no-repeat;
			background-size: 54px auto;
			content: "";
			display: block;
			margin: 40px auto;
		}
		&:last-child{
			&::after{
				display: none;
			}
		}
	}
}

#read{
	text-align: center;
	h1{
		@include heading01();
	}
}
#proposal{
	#adnac{
		width: 965px;
		height: 638px;
		background: url(../images/services/adnac_bg.png) no-repeat left top;
		background-size: 965px auto;
		padding: 50px 0 0 0;
		margin: auto;
		h1{
			text-align: center;
			margin: 0 0 34px;
		}
		ul{
			display: table;
			width: 725px;
			margin: auto;
			background-size: 850px auto;
			li{
				display: table-cell;
				width: 25%;
				height: 190px;
				text-align: center;
				vertical-align: middle;
				font-size: 1.8rem;
				color: $color01;
				b{
					display: block;
					font-weight: bold;
					font-family: $font02;
					font-size: 2.8rem;
					margin-bottom: 0.5em;
				}
			}
			&:nth-of-type(2){
				li{
					font-size: 1.4rem;
					line-height: 1.3;
					span{
						font-size: 1.2rem;
					}
				}
			}
		}
		p{
			text-align: center;
		}
	}
	#client{
		background: #fff;
		@include gradient(#fff, #f5faeb, vertical);
		text-align: center;
		font-size: 2.8rem;
		color: $color01;
		&::before{
			display: block;
			width: 100px;
			height: 60px;
			margin: auto;
			content: "";
			background: url(../images/services/proposal_ico_arrow.png) no-repeat center center;
			background-size: 99px auto;
		}
		figcaption{
			display: block;
			padding: 1em 0;
		}
	}
}

#planning{
	background: none;
	padding-top: 60px;
}

#assembly{
	figure + p{
		margin: 30px 0 0 0;
	}
}