@import "common.scss"; //共通部分


/* MAIN VISUAL
------------------------------------------------------------*/
.bxslider li {
	display: none;
}
#main-visual{
	width: 100%;
	.slider{
		display: none; //slider読み込みが完了するまで画像を非表示
	}
	.bx-wrapper{
		padding: 0;
		margin: 0;
		border: 0;
		.bx-viewport{
			box-shadow: none;
			background: transparent;
			border: none;
			padding: 0;
			margin: 0;
			border: 0;
			left: 0;
			box-shadow: none;
			.slider{
				display: block !important;
				margin: 0;
				padding: 0;
				border: 0;
				.slide{
					position: relative;
					.line{
						width: 0;
						height: 100%;
						overflow: hidden;
						position: absolute;
						top: 0;
						left: 0;
						margin: auto;
						background: url(../images/top/mainimg01_illust.png) no-repeat left bottom 10%;
						z-index: 1000;
						background-size: 100vw auto;
						@include transition( width 4s 0.6s);
					}
					.txt{
						opacity: 0;
						@include transition(opacity 2s 0.3s);
					}
					.balloon{
						opacity: 0;
						@include transition(opacity 2s 0.8s);
						img{
							max-width: none;
						}
					}
					&.on{
						.line{
							position: absolute;
							width: 100%;
							top: 0;
							left: 0;
						}
						.txt{
							opacity: 1;
						}
						.balloon{
							opacity: 1;
						}
					}
					
					&:nth-of-type(1){
						background: url(../images/top/mainimg01.jpg) no-repeat center top;
						background-size: cover;
						.line{
							background: url(../images/top/mainimg01_illust.png) no-repeat left bottom 10%;
							background-size: 1200px auto;
							@include break-point(desktop){
								background-size: 100vw auto;
							}
						}
						.txt{
							@include vertical-align();
							width: 100%;
							text-align: center;
						}
						.balloon{
							position: absolute;
							right: -20px;
							top: 50%;
							margin: -250px 0 0 0;
						}
					}
					&:nth-of-type(2){
						background: url(../images/top/mainimg02.jpg) no-repeat center top;
						background-size: cover;
						.line{
							background: url(../images/top/mainimg02_illust.png) no-repeat left bottom 10%;
							background-size: 1200px auto;
							@include break-point(desktop){
								background-size: 100vw auto;
							}
						}
						.txt{
							position: absolute;
							top: 10%;
							right: 4%;
							text-align: right;
						}
					}
					&:nth-of-type(3){
						background: url(../images/top/mainimg03.jpg) no-repeat center top;
						background-size: cover;
						.line{
							background: url(../images/top/mainimg03_illust.png) no-repeat left bottom 10%;
							background-size: 1200px auto;
							@include break-point(desktop){
								background-size: 100vw auto;
							}
						}
						.txt{
							position: absolute;
							bottom: 10%;
							right: 4%;
							text-align: right;
						}
					}
					img{
						max-width: 73.176471%;
						display: inline;
					}
					.slide-inner{
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						width: 100%;
						max-width: 850px;
						margin: auto;
						height: 100%;
					}
				}
			}
		}
		.bx-controls {
			max-width: 100%;
			.bx-pager {
				display: none;
			}
			.bx-controls-direction {
				.bx-next,.bx-prev {
					width: 34px;
					height: 48px;
					display: block;
					z-index: 1000;
				}
				.bx-next{
					background: url(../images/top/mainimg_ico_arrow_r.png);
					background-size: 34px 48px;
					right: 0;
				}
				.bx-prev {
					background: url(../images/top/mainimg_ico_arrow_l.png);
					background-size: 34px 48px;
					left: 0;
				}
			}
		}
	}
}



/* NEWS AREA
------------------------------------------------------------*/
#news{
	background: $blue;
	.inner{
		position: relative;
		padding: 20px 20px 20px 130px;
		h1{
			position: absolute;
			top: 20px;
			left: 0;
			background: #fff;
			color: $blue;
			display: inline-block;
			line-height: 54px;
			padding: 0 20px;
			font-size: 1.6rem;
			box-sizing: border-box;
			&:after{
				content: "";
				display: block;
				position: absolute;
				left: 100%;
				top: 0;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 27px 0 27px 16px;
				border-color: transparent transparent transparent #fff;
			}
		}
		dl{
			display: table;
			width: 100%;
			height: 54px;
			dt{
				display: table-cell;
				font-size: 1.5rem;
				background: #ccf1f9;
				height: 54px;
				padding: 0.5em 1em;
				line-height: 1.4em;
				box-sizing: border-box;
			}
			dd{
				display: table-cell;
				font-size: 1.5rem;
				background: #fff;
				height: 54px;
				padding: .5em 1em;
				line-height: 1.4em;
				box-sizing: border-box;
				overflow-y: scroll;
			}
		}
	}
}



/* SECTION
------------------------------------------------------------*/
.section{
	position: relative;
	padding: 6% 0;
	&::before{
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		display: block;
		background: none;
		@include border-stripe(100%,10px,#fff,#ccecfb);
	}
	h1{
		text-align: center;
		margin-bottom: 30px;
		span{
			text-align: center;
			display: inline-block;
			b{
				font-weight: lighter;
			}
			&:nth-of-type(1){
				padding: 0 1em;
				letter-spacing: 2px;
				font-family: $font02;
				font-size: 4rem;
				font-weight: lighter;
				border-bottom: 2px dotted #ccc;
				padding-bottom: 0.2em;
				margin-bottom: .4em;
			}
			&:nth-of-type(2){
				display: block;
				letter-spacing: 2px;
				font-family: $font01;
				font-size: 1.8rem;
				font-weight: lighter;
				color: #A48B78;
			}
		}
	}
	.row{
		@include flexbox();
		.col{
			box-sizing: border-box;
			border-radius: 8px;
			a{
				display: table;
				box-sizing: border-box;
				width: 100%;
				height: 100%;
				padding: 30px 20px;
				color: $color01;
				text-decoration: none;
				line-height: 1.4;
				figure , h2{
					display: table-cell;
					vertical-align: middle;
				}
				figure{
					width: auto;
					text-align: center;
				}
				h2{
					padding-left: 20px;
					font-size: 1.6rem;
					span{
						display: block;
						font-family: $font01;
						&.en{
							font-family: $font02;
							font-size: 3.2rem;
							margin: 0.2em 0;
						}
					}
				}
			}
		}
		.col.col-4{
			text-align: center;
			display: block;
			figure{
				width: 100%;
				height: 100px;
				display: block;
				padding: 0;
				margin: 0 auto 10% auto;
				text-align: center;
				img{
					@include vertical-align();
				}
			}
			h2{
				display: block;
				width: 100%;
				padding: 0;
			}
		}
		.col.col-12{
			text-align: center;
			display: block;
			figure{
				width: 50%;
			}
			h2{
				width: 50%;
				text-align: left;
			}
		}
	}
}



/* ABOUT US
------------------------------------------------------------*/


#about{
	&::before{
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		display: block;
		background: none;
		@include border-stripe(100%,10px,#fff,#ccecfb);
	}
	h1{
		span{
			b{
				color: $blue;
			}
			&:nth-of-type(1){
				border-bottom: 2px dotted $blue;
			}
		}
	}
	.row{
		.col{
			background: #daf0fc;
			border: 4px solid #c4e7fa;
		}
	}
}



/* SERVICES
------------------------------------------------------------*/
#services{
	&::before{
		@include border-stripe(100%,10px,#fff,#ddedbb);
	}
	h1{
		span{
			b{
				color: $green;
			}
			&:nth-of-type(1){
				border-color: $green;
			}
		}
	}
	.row{
		margin: 30px 0 0 0;
		.col{
			background: #edf4d6;
			border: 4px solid #e8f0c5;
		}
		&:first-child{
			margin-top: 0;
		}
	}
}



/* WORKS
------------------------------------------------------------*/
#works{
	&::before{
		@include border-stripe(100%,10px,#fff,#fdea9f);
	}
	h1{
		span{
			b{
				color: $yerrow;
			}
			&:nth-of-type(1){
				border-color: $yerrow;
			}
		}
	}
	.row{
		.col{
			background: #fff9c8;
			border: 4px solid #fff9b1;
		}
	}
}



/* RECRUIT
------------------------------------------------------------*/
#recruit{
	&::before{
		@include border-stripe(100%,10px,#fff,#f9ccc1);
	}
	h1{
		span{
			b{
				color: $red;
			}
			&:nth-of-type(1){
				border-color: $red;
			}
		}
	}
	.row{
		.col{
			background: #fce8ee;
			border: 4px solid #fadae5;
		}
	}
}



/* ACCESS
------------------------------------------------------------*/
#access{
	height: 100%;
	height: auto;
	padding-bottom: 0;
	&::before{
		@include border-stripe(100%,10px,#fff,#fce1b5);
	}
	h1{
		span{
			b{
				color: $orenge;
			}
			&:nth-of-type(1){
				border-color: $orenge;
			}
		}
	}
	#mapWrap{
		position: relative;
		width: 100%;
		height: 480px;
		#accessBox{
			width: auto;
			position: absolute;
			top: 30px;
			right: 50%;
			left: auto;
			margin-right: -525px;
			background: rgba(255,255,255,.8);
			display: inline-block;
			width: auto;
			height: auto;
			padding: 20px;
			z-index: 1000;
			
			h2{
				color: #00b9e2;
				text-align: center;
				padding: 0 0 .5em 0;
				font-size: 2.4rem;
				font-family: $font02;
				font-weight: lighter;
				border-bottom: 2px dotted #00b9e2;
			}
			dl{
				line-height: 1.4;
				text-align: left;
				dt{
					font-size: 1.8rem;
					color: #00b9e2;
					margin: .8em 0 0 0;
				}
				dd{
					font-size: 1.6rem;
				}
			}
		}
		#mapCanvas{
			height: 100%;
		}
	}
}