@import "common.scss"; //共通部分

/* ABOUT US
------------------------------------------------------------*/
#read{
	h1{
		background: url(../images/works/main_title_bg.png) repeat;
		font-size: 3.5rem;
		padding: 0.4em 0;
		font-weight: bold;
		text-align: center;
		line-height: 1;
		color: $color01;
		font-family: $font02;
		b{
			color: $yerrow;
		}
	}
	p{
		margin: 50px 0 0 0;
		text-align: center;
	}
}
.section{
	margin: 100px 0;
	h1{
		color: $yerrow;
		font-size: 2.8rem;
		text-align: center;
		margin: 0 0 40px;
		span{
			display: block;
			color: $color01;
			font-size: 1.8rem;
			margin: .5em 0 0;
		}
		& + p{
			span{
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}
.itemList{
	.row{
		@include flexbox();
		.col{
			opacity: 0;
			position: relative;
			border: 2px solid $yerrow;
			border-radius: 4px;
			box-sizing: border-box;
			margin-top: 10px;
			text-align: center;
			padding: 20px;
			vertical-align: middle;
			&.eventOn{
				opacity: 1;
			}
			div{
				display: table;
				width: 100%;
				height: 100%;
				figure{
					display: table-cell;
					vertical-align: middle;
					width: 100%;
					height: 100%;
					height: auto;
				}
			}
		}
	}
}





@mixin rows($col:12, $gutter: 1%, $class:'row') {
	$grid: (100% - (($col - 1) * $gutter)) / $col;
	@for $i from 1 through $col
	{
		$num: $col - $i + 1;
		$width: ($grid * $num) + ($gutter * ($num - 1));
		.#{$class} .col-#{$num}
		{
			width: $width;
		}
	}
	.#{$class} [class*='col-'] {
		margin-left: $gutter;
		float: left;
	}
	.#{$class} [class*='col-']:first-child {
		margin-left: 0;
	}
	.#{$class}:after {
		content: "";
		display: table;
		clear: both;
	}
}
@include rows( );