/* reset
------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	}
body {
	line-height: 1;
	}
ol, ul {
	list-style: none;
	}
blockquote, q {
	quotes: none;
	}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}




/* base
------------------------------------------------------------*/
html{
	min-width: 1024px;
	max-width: 100%;
	font-size: 62.5%;
	font-size: 10px\0;
}
html,body{
	min-width: 1024px;
	min-height: 100%;
	margin: 0;
	overflow-x: hidden;
	color: $color01;
	letter-spacing: 1px;
	font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	}
img{
	max-width: 100%;
	height: auto;
	}
p{
	line-height: 2;
	font-size: 1.5rem;
	}
#wrap{
	width: 100%;
	min-width: 1024px;
	margin: auto;
	opacity: 0;
}
.inner{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	max-width: 850px;
	box-sizing: border-box;
	@include pie-clearfix;
	}
	
.scrEvent{
	opacity: 0;
	opacity: 1\9;
	&.eventOn{
		-webkit-animation-fill-mode:both;
		-ms-animation-fill-mode:both;
		animation-fill-mode:both;
		-webkit-animation-duration:1s;
		-ms-animation-duration:1s;
		animation-duration:1s;
		-webkit-animation-name: fadeInDown;
		animation-name: fadeInDown;
		visibility: visible !important;
	}
}
@-webkit-keyframes fadeInDown {
	0% { opacity: 0; -webkit-transform: translateY(-10px); }
	100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
	0% { opacity: 0; -webkit-transform: translateY(-10px); -ms-transform: translateY(-10px); transform: translateY(-10px); }
	100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}


#loaderBg {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: #fff;
	z-index: 9999;
	#loader {
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		width: 200px;
		height: 200px;
		margin-top: -50px;
		margin-left: -100px;
		text-align: center;
		color: $color01;
		z-index: 9999;
	}
}