/* footer
------------------------------------------------------------*/
#footerNav{
	padding: 60px 0 30px 0;
	border-bottom: 1px solid #00b9e2;
	ul{
		margin: 10px 0 0 0;
		&:first-child{
			margin-top: 0;
		}
		li{
			display: inline-block;
			margin-right: 2em;
			list-style-type: disc;
			list-style-position: inside;
			a{
				font-size: 1.5rem;
				text-decoration: none;
				color: $color01;
				@include transition(color .4s);
			}
			&:nth-of-type(1){
				a:hover{
					color: $blue;
				}
			}
			&:nth-of-type(2){
				a:hover{
					color: $green;
				}
			}
			&:nth-of-type(3){
				a:hover{
					color: $yerrow;
				}
			}
			&:nth-of-type(4){
				a:hover{
					color: $red;
				}
			}
		}
	}
}

#footer{
	background: url(../images/common/f_illust.png) repeat-x left 70% bottom 40px;
	background-size: 1075px auto;
	.inner{
		display: table;
		width: 100%;
		padding: 30px 0 60px 0;
		h1{
			display: table-cell;
			vertical-align: middle;
		}
		address{
			font-size: 1.4rem;
			display: table-cell;
			vertical-align: middle;
		}
		ul{
			display: table-cell;
			vertical-align: middle;
			li{
				display: inline-block;
				margin-right: 3%;
				a{
					font-size: 1.6rem;
					color: $color01;
				}
			}
		}
	}
	small{
		display: block;
		width: 100%;
		padding: 1em 0;
		text-align: center;
		font-size: 1.4rem;
		background: #00b9e2;
		color: #fff;
	}
}


#pageTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 77%;
}
#pageTop a {
	text-decoration: none;
	width: 44px;
	height: 44px;
	background: url(../images/common/f_ico_gotop.png) no-repeat center center;
	background-size: 44px;
	text-align: center;
	display: block;
}
#pageTop a:hover {
	text-decoration: none;
}