/* header
------------------------------------------------------------*/
#header{
	padding: 20px 5%;
	box-sizing: border-box;
	.inner{
		position: relative;
		@include pie-clearfix;
		h1{
			float: left;
			width: 212px;
			margin: 0;
			padding: 0;
		}
		ul{
			display: table;
			float: right;
			margin: 8px 0 0 0;
			@include pie-clearfix;
			li{
				border-left: 1px solid #ccc;
				display: table-cell;
				a{
					display: block;
					width: 100%;
					height: 100%;
					padding: 0 10px;
					text-decoration: none;
					font-size: 1.2rem;
					color: $color01;
					.ico{
						display: inline-block;
						vertical-align: middle;
						width: 30px;
					}
					.txt{
						display: inline-block;
						vertical-align: middle;
					}
				}
				&:nth-of-type(2){
					a{
						.ico + span{
							display: inline-block;
							vertical-align: middle;
							width: 98px;
						}
					}
				}
			}
		}
	}
}



/* gnav
------------------------------------------------------------*/
#gnav{
	padding: 20px 0;
	ul{
		width: 100%;
		display: table;
		li{
			display: table-cell;
			width: 25%;
			float: left;
			vertical-align: middle;
			box-sizing: border-box;
			border-right: 1px solid $color02;
			&:first-child{
				border-left: 1px solid $color02;
			}
			a{
				text-decoration: none;
				font-family: $font02;
				color: $color01;
				font-size: 2rem;
				line-height: 2em;
				display: block;
				width: 100%;
				height: 100%;
				text-align: center;
				vertical-align: middle;
				@include transition(color .4s);
			}
			&:nth-of-type(1){
				a:hover{
					color: $blue;
				}
			}
			&:nth-of-type(2){
				a:hover{
					color: $green;
				}
			}
			&:nth-of-type(3){
				a:hover{
					color: $yerrow;
				}
			}
			&:nth-of-type(4){
				a:hover{
					color: $red;
				}
			}
		}
	}
}