/* transitions（CSSトランジション）
使用例：@include transition(background-color 1s .5s, color 2s);
------------------------------------------------------------*/
@mixin transition($transition...) {
	-moz-transition: $transition;
	-o-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}

@mixin transition-property($property...) {
	-moz-transition-property: $property;
	-o-transition-property: $property;
	-webkit-transition-property: $property;
	transition-property: $property;
}

@mixin transition-duration($duration...) {
	-moz-transition-property: $duration;
	-o-transition-property: $duration;
	-webkit-transition-property: $duration;
	transition-property: $duration;
}

@mixin transition-timing-function($timing...) {
	-moz-transition-timing-function: $timing;
	-o-transition-timing-function: $timing;
	-webkit-transition-timing-function: $timing;
	transition-timing-function: $timing;
}

@mixin transition-delay($delay...) {
	-moz-transition-delay: $delay;
	-o-transition-delay: $delay;
	-webkit-transition-delay: $delay;
	transition-delay: $delay;
}



/* box-sizing（ボックスサイズ）
使用例：@include box-sizing(border-box);
------------------------------------------------------------*/
@mixin box-sizing($type){
	-webkit-box-sizing:$type;
	-moz-box-sizing:$type;
	box-sizing:$type;
	}



/* opacity（不透明度）
使用例：@include opacity(0.5);
------------------------------------------------------------*/
@mixin opacity($opacity) {
	opacity: $opacity;
	filter: alpha(opacity=($opacity * 100));
	}



/* column-width（カラム幅）
使用例：@include column-width(150px);
------------------------------------------------------------*/
@mixin column-width($value: 150px){
	-webkit-column-width: $value;
	-moz-column-width: $value;
	column-width: $value;
	}



/* font-size（フォントサイズ）
使用例：@include font-size(14px);
------------------------------------------------------------*/
@mixin font-size($size) {
	font-size:$size;
	font-size: ($size / 16px) * 1rem;
	}



/* box-shadow（ボックスシャドウ）
使用例：@include box-shadow(8px, 8px);
------------------------------------------------------------*/
@mixin box-shadow( $h: 10px , $v: 10px , $b: 0px , $s: 0px , $c: #000000 ) {
	-webkit-box-shadow: $h $v $b $s $c;
	-moz-box-shadow: $h $v $b $s $c;
	box-shadow: $h $v $b $s $c;
	}



/* xPos（要素の座標）
使用例：@include xPos(50px);
------------------------------------------------------------*/
@mixin xPos($x) {
	-webkit-transform:translateX($x);
	-moz-transform:translateX($x);
	-ms-transform:translateX($x);
	transform:translateX($x);
	}



/* vertical-align（縦中央に配置）
使用例：@include vertical-align();
------------------------------------------------------------*/
@mixin vertical-align() {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	}



/* flexbox（フレックスボックス）
使用例：@include flexbox();
------------------------------------------------------------*/
@mixin flexbox(){
	-js-display: flex; //flexibility.js
	display:-webkit-box; // old
	display:-moz-box; // old
	display:-ms-flexbox; // ie
	display:-webkit-flex; // new
	display:flex; // new
	}






/* flex-order（表示の順番）
使用例：@include flex-order(3);
------------------------------------------------------------*/
@mixin flex-order($order){
	-webkit-box-ordinal-group: $order; // old
	-moz-box-ordinal-group: $order; // old
	-ms-flex-order: $order; // ie
	-webkit-order: $order; // new
	order: $order; // new
	}



/* flex-direction（表示の方向）
使用例：@include flex-direction(column);
------------------------------------------------------------*/
@mixin flex-direction($direction){
	@if $direction == column{
		-webkit-flex-direction:vertical;
		-moz-flex-direction:vertical;
		-ms-flex-direction:column;
		-webkit-flex-direction:column;
		flex-direction:column;
	}
	@else{
		-webkit-flex-direction:horizontal;
		-moz-flex-direction:horizontal;
		-ms-flex-direction:row;
		-webkit-flex-direction:row;
		flex-direction:row;
	}
}



/* gradient（グラデーション）
使用例：@include gradient(#ff00ff, #ff00cc, vertical);
------------------------------------------------------------*/
@mixin gradient($start-color, $end-color, $orientation){
	background: $start-color;
	@if $orientation == vertical{
		// vertical
		background: -moz-linear-gradient(top,  $start-color 0%, $end-color 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start-color), color-stop(100%,$end-color));
		background: -webkit-linear-gradient(top,  $start-color 0%,$end-color 100%);
		background: -o-linear-gradient(top,  $start-color 0%,$end-color 100%);
		background: -ms-linear-gradient(top,  $start-color 0%,$end-color 100%);
		background: linear-gradient(to bottom,  $start-color 0%,$end-color 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=0 );
	}
	@else if $orientation == horizontal{
		// horizontal
		background: -moz-linear-gradient(left,  $start-color 0%, $end-color 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,$start-color), color-stop(100%,$end-color));
		background: -webkit-linear-gradient(left,  $start-color 0%,$end-color 100%);
		background: -o-linear-gradient(left,  $start-color 0%,$end-color 100%);
		background: -ms-linear-gradient(left,  $start-color 0%,$end-color 100%);
		background: linear-gradient(to right,  $start-color 0%,$end-color 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
	}
	@else{
		// radial
		background: -moz-radial-gradient(center, ellipse cover,  $start-color 0%, $end-color 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$start-color), color-stop(100%,$end-color));
		background: -webkit-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
		background: -o-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
		background: -ms-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
		background: radial-gradient(ellipse at center,  $start-color 0%,$end-color 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
	}
}



/* ghost-button（ゴーストボタン）
使用例：@include ghost-button(“Trebuchet”, 12px, #ffffff, 5px, #34dec6, 4px, 300ms, #000000 );
------------------------------------------------------------*/
@mixin ghost-button($font, $font-size, $font-color, $border-size, $border-color, $padding, $transition-speed, $hover-color){
	display:inline-block;
	text-decoration:none;
	text-transform:uppercase;
	font-family: $font;
	font-size: $font-size;
	color:$font-color;
	border:$border-size solid $border-color;
	padding:$padding;
	-webkit-transition: color $transition-speed, background $transition-speed;
	transition: color $transition-speed, background $transition-speed;
	&:hover{
		background:$border-color;
		color:$hover-color;
	}
}



/* break-point（ブレイクポイント）
使用例：
div {
	margin:5em;
	@include break-point(mobile){
		margin:2em;
	}
}
------------------------------------------------------------*/
@mixin break-point($point){
	@if $point == desktop{
		@media screen and (min-width: 1201px){
		@content;
		}
	}
	@else if $point == mobile{
		@media screen and (max-width: 768px){
			@content;
		}
	}
}




/* percent grid layout(パーセントベースグリッドレイアウト)
使用例：
<ul class="blocks-3">
	<li>33%</li>
	<li>33%</li>
	<li>33%</li>
	<li>33%</li>
	<li>33%</li>
	<li>33%</li>
</ul>
------------------------------------------------------------*/
@mixin rows($col:12, $gutter: 3%, $class:'row') {
	$grid: (100% - (($col - 1) * $gutter)) / $col;
	@for $i from 1 through $col
	{
		$num: $col - $i + 1;
		$width: ($grid * $num) + ($gutter * ($num - 1));
		.#{$class} .col-#{$num}
		{
			width: $width;
		}
	}
	.#{$class} [class*='col-'] {
		margin-left: $gutter;
		float: left;
	}
	.#{$class} [class*='col-']:first-child {
		margin-left: 0;
	}
	.#{$class}:after {
		content: "";
		display: table;
		clear: both;
	}
}
@include rows();



@mixin border-stripe($width , $height , $color1 , $color2) {
	width: $width;
	height: $height;
	background-color: $color1;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, $color2), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, $color2),color-stop(.75, $color2), color-stop(.75, transparent),to(transparent));
	-webkit-background-size: 14px 14px;
}




/*
	Burger Menu（ハンバーガーメニュー）
	使用例：
	.burger-icon {
		@include burger(25px, 3px, 5px, #222);
	}
	.circle.is-active .burger-icon {
		@include burger-to-cross;
	}
------------------------------------------------------------*/
// Burger parts
//
// (---) top	-> &::before
// [---] middle -> &
// (---) bottom -> &::after


// Vendor prefixes
$sass-burger-add-vendor-prefixes: true !default;

// Burger
@mixin burger($width: 30px, $height: 5px, $gutter: 3px, $color: #000, $border-radius: 0, $transition-duration: .3s) {
	$burger-height: $height !global;
	$burger-gutter: $gutter !global;

	position: relative;
	margin-top: $height + $gutter;
	margin-bottom: $height + $gutter;

	@if $sass-burger-add-vendor-prefixes {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
	user-select: none;

	// 1. Fixes jagged edges in Firefox, see issue #10.
	&, &::before, &::after {
		display: block;
		width: $width;
		height: $height;
		background-color: $color;
		outline: 1px solid transparent; // 1
		@if $border-radius != 0 {
			border-radius: $border-radius;
		}

		@if $sass-burger-add-vendor-prefixes {
			-webkit-transition-property: background-color, -webkit-transform;
			-moz-transition-property: background-color, -moz-transform;
			-o-transition-property: background-color, -o-transform;
		}
		transition-property: background-color, transform;

		@if $sass-burger-add-vendor-prefixes {
			-webkit-transition-duration: $transition-duration;
			-moz-transition-duration: $transition-duration;
			-o-transition-duration: $transition-duration;
		}
		transition-duration: $transition-duration;
	}

	&::before, &::after {
		position: absolute;
		content: "";
	}

	&::before {
		top: -($height + $gutter);
	}

	&::after {
		top: $height + $gutter;
	}
}


// Select parts of the burger
@mixin burger-parts {
	&, &::before, &::after {
		@content;
	}
}

@mixin burger-top {
	&::before {
		@content;
	}
}

@mixin burger-middle {
	& {
		@content;
	}
}

@mixin burger-bottom {
	&::after {
		@content;
	}
}


// Burger animations
@mixin burger-to-cross($color: auto) {
	& {
		background-color: transparent;
	}
	@if ($color != auto) {
		&::before, &::after {
			background-color: $color;
		}
	}
	&::before {
		@if $sass-burger-add-vendor-prefixes {
			-webkit-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
			-moz-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
			-ms-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
			-o-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
		}
		transform: translateY($burger-gutter + $burger-height) rotate(45deg);
	}
	&::after {
		@if $sass-burger-add-vendor-prefixes {
			-webkit-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
			-moz-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
			-ms-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
			-o-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
		}
		transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
	}
}



@mixin middleline($height, $ie: 0){
	height: $height + px;
	line-height: $height + px;
	&:not(:target){
		line-height: $height + $ie + px + \9;
	}
	:root & {
		line-height: $height + $ie + px + \9;
	}
}