/* color
------------------------------------------------------------*/
$color01: #666464;
$color02: #828181;
$blue: #2EA7E0;
$green: #8FC31F;
$yerrow: #fac800;
$red: #ea5532;
$orenge: #F39800;

/* font
------------------------------------------------------------*/
@import 'https://fonts.googleapis.com/css?family=Muli';
@import 'https://fonts.googleapis.com/css?family=Lato';
$font01: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
$font02: 'Lato', sans-serif;


/* width
------------------------------------------------------------*/
$max-width: 850px;